p {
    color: rgb(67, 69, 158)
}
html {
    font-size: 15px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }

  h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px rgb(54, 11, 11); 
  }
  p,
li {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
}
body {
    background-color: lightgrey;
  }
  .flex { 
    display: flex;
    align-items: center;
    flex-flow: column wrap;
  }
    #twitter {
        display: block;
        margin: 0 auto;
       
      }