p {
    color: rgb(0, 0, 0);
}

html {
  font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #000000;
  text-shadow: 3px 3px 1px rgb(54, 11, 11);
  
}

p,
li {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;

}

/* Additional CSS rules */
body {
  background-color: lightgray;
}

.flex { 
  display: flex;
  flex-flow: column wrap;
}


.text {
  color: rgb(172, 20, 20);
}

#Okayge {
    /* Percentage width instead of pixels to make smiley face scale fluidly */
    width: 20%;
    height: auto;
  
}
img {
  display: block;
  margin: 0 auto;
}
iframe {
  display: block;
  margin: 0 auto;
 
}
#counter {
width: 30%;
display: block;
  margin: 0 auto;

}
